In [1]:
import pandas as pd
import numpy as np

In [2]:
iris = pd.read_csv('./iris-data.csv')

iris

,sepal_length_cm,sepal_width_cm,petal_length_cm,petal_width_cm,class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica
146,6.3,2.5,5.0,2.3,Iris-virginica
147,6.5,3.0,5.2,2.0,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
149,5.9,3.0,5.1,1.8,Iris-virginica

In [8]:
iris.dtypes

sepal_length_cm    float64
sepal_width_cm     float64
petal_length_cm    float64
petal_width_cm     float64
class               object
dtype: object

In [9]:
iris.isna().sum()

sepal_length_cm    0
sepal_width_cm     0
petal_length_cm    0
petal_width_cm     5
class              0
dtype: int64

In [32]:
# This is just the removing rows approach

no_na_iris = iris.dropna()

no_na_iris.to_csv('./iris-data-dropna.csv')

In [15]:
missing_rows = iris[iris.isnull().any(axis=1)]

In [19]:
missing_rows['class'].value_counts()

Iris-setosa    5
Name: class, dtype: int64

In [35]:
# As all of the NaN values are from iris-setosa, i'm going to replace them with the mean of that class

mean_iris_setosa_petal_width = iris[iris['class'] == 'Iris-setosa'].mean()['petal_width_cm']

filled_iris = iris.fillna(mean_iris_setosa_petal_width)

filled_iris.to_csv('./iris-data-filled.csv')

In [33]:
filled_iris.isna().sum()

sepal_length_cm    0
sepal_width_cm     0
petal_length_cm    0
petal_width_cm     0
class              0
dtype: int64

In [30]:
filled_iris.dtypes

sepal_length_cm    float64
sepal_width_cm     float64
petal_length_cm    float64
petal_width_cm     float64
class               object
dtype: object

In [38]:
# We could also transform the string class to dummy columns

dummies_iris = pd.get_dummies(filled_iris, columns = ['class'])

dummies_iris

,sepal_length_cm,sepal_width_cm,petal_length_cm,petal_width_cm,class_Iris-setosa,class_Iris-setossa,class_Iris-versicolor,class_Iris-virginica,class_versicolor
0,5.1,3.5,1.4,0.2,1,0,0,0,0
1,4.9,3.0,1.4,0.2,1,0,0,0,0
2,4.7,3.2,1.3,0.2,1,0,0,0,0
3,4.6,3.1,1.5,0.2,1,0,0,0,0
4,5.0,3.6,1.4,0.2,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,0,0,0,1,0
146,6.3,2.5,5.0,2.3,0,0,0,1,0
147,6.5,3.0,5.2,2.0,0,0,0,1,0
148,6.2,3.4,5.4,2.3,0,0,0,1,0
149,5.9,3.0,5.1,1.8,0,0,0,1,0